[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = ">=2.20.0"
"path.py" = "*"
"bs4" = "*"
awesome-slugify = "*"
pyyaml = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.7"
